<IfModule mod_rewrite.c>
    RewriteEngine On
    # Works for /api/ (subdomain) and /backend/api/ (subdirectory)

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ ../index.php [QSA,L]
</IfModule>
